/* Reusables/General Purpose */
body {
  font-family: sans-serif;
  font-size: .9rem;
}
h1 {
  text-align: center;
}

/* 1 column: 360px */
.autowide {
  margin: 0 auto;
	width: 100%;
}

/* Background for columns*/
.autowide .col {
  background-color: #d3d3d3;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.autowide .col p {
  padding: .25rem .75rem;
}

/* 2 columns: 720 */
@media only screen and (min-width: 720px) {
  .autowide .col {
		float: left;
		margin-right: 2.564102564102564%;
		width: 49%;
	}
	.autowide .module:nth-child(2n+0) {
		margin-right: 0;
	}
}

/* 3 columns: 768px */
@media only screen and (min-width: 768px) {
  .autowide .col {
		width: 31.623931623931625%;
	}
	.autowide .col:nth-child(2n+0) {
		margin-right: 2.564102564102564%;
	}
	.autowide .col:nth-child(3n+0) {
		margin-right: 0;
	}
}

/* 4 columns: 992px and up */
@media only screen and (min-width: 992px) {
  .autowide .col {
		width: 23.076923076923077%;
	}
	.autowide .col:nth-child(3n+0) {
		margin-right: 2.564102564102564%;
	}
	.autowide .col:nth-child(4n+0) {
		margin-right: 0;
	}
}